@using BootEshop.ViewArgs
@using BootEshop.ViewComponents
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <partial name="Partials/Home/_Carrousel"/>
    @await Component.InvokeAsync("ProductsSelection", new ProductsSelectionArgs(10, "foo", "bar", new CatalogFilter()
    {
        Category = Category.NewProduct
    }))
</div>
