@using BootEshop.ViewArgs
@using BootEshop.ViewComponents
@{
    ViewData["Title"] = "Home Page";
}

@section Styles
{
    <link rel="stylesheet" href="css/features/product.css" />
    <link rel="stylesheet" href="css/features/home.css" />
    
}
<div class="text-center d-flex flex-column  gap-5 ">
    <partial name="Partials/Home/_Carrousel"/>
    @await Component.InvokeAsync("ProductsSelection", new ProductsSelectionArgs("foo", "bar", new CatalogFilter()
        {
            Count = 10,
            Category = Category.RecommendedProduct
        }
        ));
    
</div>
