<div class="categories-second">
    <a class="category-second" id="boy-category" href="#">
        <span class="title">KLUČIČÍ<br />BOTY</span>
        <img src="@Url.Action(
                      "CarrouselImage",
                      "Source",
                      new { id = 1})" />
    </a>
    <a class="category-second" id="girl-category" href="#">
        <span class="title">DÍVČÍ BOTY</span>
        <img src="@Url.Action(
                      "CarrouselImage",
                      "Source",
                      new { id = 2})" />
    </a>
    <a class="category-second" id="how-category" href="#">
        <span class="title">JAK SPRÁVNĚ<br />VYBRAT?</span>
        <img src="@Url.Action(
                      "CarrouselImage",
                      "Source",
                      new { id = 3})" />
    </a>
</div>