<div class="nav-bar d-flex flex-row">
    <a class="category-nav" href="#">
        objednavek
    </a>
    <a class="category-nav" href="#">
        produktu
    </a>
    <a class="category-nav" href="#">
        uzivatele
    </a>
    <a class="category-nav" href="#">Ostatní</a>
    <a class="category-nav" id="contact-category" href="#">Kontakt</a>
    
    
    @if (this.User.IsInRole("admin"))
    {
        <span>admin</span>
    }
</div>
