<div class="nav-bar d-flex flex-row">
    <a class="category-nav" href="#">
        Chlapecké
        <i class="fa-solid fa-child"></i>
    </a>
    <a class="category-nav" href="#">
        Dívčí
        <i class="fa-solid fa-child-dress"></i>
    </a>
    <a class="category-nav" href="#">Doplňky</a>
    <a class="category-nav" href="#">Ostatní</a>
    <a class="category-nav" id="contact-category" href="#">Kontakt</a>
    @if (this.User.IsInRole("admin"))
    {
        <span>admin</span>
    }
</div>
