

.nav-bar {
    gap: 0.3rem;
}


.category-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
    outline: solid var(--color-dark) 0.3rem;
    height: 6rem;
    flex: 1;
}

.category-nav:hover i {
    animation: jump 0.5s running;
}
@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}